:root {
  --background-colour: #eee;
  --container-colour: #fff;
  --message-colour: #eee;
  --border-colour: #bbb;
  --input-colour: #eee;
  --button-colour: #ddd;

  --text-colour: #000;
  --text-colour-2: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #222;
    --container-colour: #444;
    --message-colour: #666;
    --border-colour: #ccc;
    --input-colour: #666;
    --button-colour: #444;

    --text-colour: #fff;
    --text-colour-2: #bbb;
  }
}

*,
input::placeholder {
  color: var(--text-colour);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-colour);
}

.container {
  width: 80%;
  min-height: 80%;
  padding: 30px;

  background-color: var(--container-colour);
  border-radius: 10px;
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 60vh;
  margin: 15px 0;
}

.message {
  background-color: var(--message-colour);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 4px;
}

.message-timestamp {
  font-size: 0.9em;
  color: var(--text-colour-2);
}

.message-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
  object-fit: cover;
  vertical-align: middle;
}

#userInfo {
  display: flex;
  justify-content: space-between;
}

.author-wrapper {
  display: flex;
  align-items: center;
}

#userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  margin-right: 15px;
}

.header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.name-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#provider {
  font-size: 0.8em;
}

#username {
  font-weight: bold;
}

#messageInput {
  width: 100%;
}

#inputSection {
  display: flex;
  gap: 5px;
}

input {
  background-color: var(--input-colour);
  border: 1px solid var(--border-colour);
  border-radius: 2px;
}

button {
  background-color: var(--button-colour);
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  cursor: pointer;
}

#emailLogin {
  margin-top: 5px;
}
